<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to  "INSAL", "#", class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">     
            <li class="active">
                <%= link_to  "Home", static_pages_home_path %>
            </li>
            <li class="#">
                <%= link_to  "About", static_pages_about_path %>
            </li>
            <li class="#">
                <%= link_to  "Help", static_pages_help_path %>
            </li>
            <li class="#">
                <%= link_to  "Contact", static_pages_contact_path %>
            </li>
            <li class="#">
                <%= link_to  "Register", static_pages_register_path %>
            </li>
            <li class="#">
                <%= link_to  "Login", static_pages_login_path %>
            </li>
        </ul>
    </div>
</nav>